{{#partial "content"}}
<div class="row">

    <div class="col-lg-3">
        <section class="section-preview">
            <h1 class="my-4">Keywords</h1>
            {{#each keywords}}
            <a class="text-dark" href="/search/?searchString={{this}}"><span class="badge badge-secondary ml-2">{{this}}</span></a>
            {{/each}}

        </section>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
        {{#each papers}}
        <div class="card mt-4">
            <div class="card-body">
                <h4 class="h4"><a class="text-warning" href="/results/{{id}}">{{title}}</a></h4>
                <h5>
                {{#each authorPapers}}
                <a class="text-dark" href="/results/authors/{{authors.id}}">{{authors.name}}</a>;
                {{/each}}
                </h5>
                <h6>{{keywords}}</h6>
                <p class="text-justify">
                    {{paperAbstract}}
                </p>
                <div class="text-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-outline-secondary" href="{{onlineLink}}" target="blank">Link to the paper</a>
                        <a class="btn btn-outline-secondary" href="{{pdfLink}}" target="blank" >PDF</a>
                        <a class="btn btn-outline-secondary" href="{{codebookLink}}" target="blank">Codebook</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        <!-- /.card -->

    </div>
    <!-- /.col-lg-9 -->


    {{/partial}}

    {{> base}}